header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: aliceblue;
}

main {
  margin-top: 250px /* altura del header */;
  z-index: 10;
  /* otros estilos */
}
